@-webkit-keyframes fadeRight {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeRight {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.order .order-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.order .order-main .order-info {
  width: 40%;
  padding: 1rem 1rem;
}
.order .order-main .order-info table {
  width: 100%;
  border: 2px solid #7a58b9;
}
.order .order-main .order-info table tr {
  border-bottom: 2px solid #7a58b9;
}
.order .order-main .order-info table tr td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order .order-main .order-info table tr td img {
  width: 100px;
}
.order .order-main .order-info table tr td div {
  margin-left: 2rem;
  font-size: 2.2rem;
}
.order .order-main .order-info table tr td div h3 {
  font-size: 2.2rem;
}
.order .order-main .order-info table .delivery_on {
  display: none;
  border: none;
}
.order .order-main .order-info table .delivery_on td {
  font-size: 2rem;
  border: none;
}
.order .order-main .order-info .final-price {
  margin-top: 2rem;
  border-bottom: 1px solid #000;
}
.order .order-main .order-info .final-price p {
  font-size: 2rem;
}
.order .order-main .order-info .delivery-info {
  display: none;
  margin-top: 5rem;
  border: 1px solid #7a58b9;
  padding: 1rem 1rem;
  -webkit-animation-name: fadeRight;
          animation-name: fadeRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.order .order-main .order-info .delivery-info h3 {
  font-size: 2rem;
  color: brown;
  margin-bottom: 2rem;
}
.order .order-main .order-info .delivery-info ul li {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.order .order-main .order-info .delivery-info ul li span {
  color: brown;
  font-weight: 600;
}
.order .order-main .order-form {
  width: 55%;
  font-size: 1.7rem;
}
.order .order-main .order-form fieldset {
  margin-bottom: 2rem;
}
.order .order-main .order-form fieldset input,
.order .order-main .order-form fieldset label {
  display: block;
}
.order .order-main .order-form fieldset input {
  width: 100%;
  padding: .5rem .5rem;
  margin-bottom: 1rem;
  border: 1px solid #7a58b9;
  border-radius: .5rem;
}
.order .order-main .order-form fieldset input:focus {
  -webkit-box-shadow: 0 0 5px 0 #7a58b9;
          box-shadow: 0 0 5px 0 #7a58b9;
  outline: none;
}
.order .order-main .order-form fieldset textarea {
  border: 1px solid #7a58b9;
  border-radius: .5rem;
}
.order .order-main .order-form fieldset textarea:focus {
  -webkit-box-shadow: 0 0 5px 0 #7a58b9;
          box-shadow: 0 0 5px 0 #7a58b9;
  outline: none;
}
.order .order-main .order-form fieldset legend {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.order .order-main .order-form fieldset select {
  border: 1px solid #7a58b9;
  border-radius: .5rem;
}
.order .order-main .order-form fieldset.contacts .flex-wrap {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.order .order-main .order-form fieldset.contacts .flex-wrap .contact-tel {
  width: 45%;
}
.order .order-main .order-form fieldset.contacts .flex-wrap .contact-email {
  width: 45%;
}
.order .order-main .order-form fieldset.delivery {
  display: none;
}
.order .order-main .order-form fieldset.delivery .flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}
.order .order-main .order-form fieldset.delivery .flex-wrap .comment {
  width: 100%;
}
.order .order-main .order-form fieldset.delivery .flex-wrap .comment textarea {
  width: 100%;
  resize: none;
  height: 100px;
  padding: 1rem 1rem;
}
.order .order-main .order-form fieldset.delivery .flex-wrap .date {
  width: 45%;
}
.order .order-main .order-form fieldset.delivery .flex-wrap .time {
  width: 45%;
}
.order .order-main .order-form fieldset.delivery .flex-wrap .time label {
  display: inline-block;
}
.order .order-main .order-form fieldset.type-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.order .order-main .order-form fieldset.type-order legend {
  width: 100%;
}
.order .order-main .order-form fieldset.type-order input {
  display: none;
  width: 20%;
}
.order .order-main .order-form fieldset.type-order input:checked + label {
  color: #7a58b9;
  -webkit-box-shadow: 0 0 10px 0 #7a58b9;
          box-shadow: 0 0 10px 0 #7a58b9;
}
.order .order-main .order-form fieldset.type-order input:checked + label.pickup {
  background-image: url(../img/form_pickup_on.png);
}
.order .order-main .order-form fieldset.type-order input:checked + label.delivery {
  background-image: url(../img/form_deliver_on.png);
}
.order .order-main .order-form fieldset.type-order label {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 230px;
  height: 130px;
  border-radius: 1rem;
  text-transform: uppercase;
  padding-top: 1rem;
  color: #4d4d4d;
  font-weight: 600;
  -webkit-box-shadow: 0 0 5px 0 black;
          box-shadow: 0 0 5px 0 black;
  padding-bottom: 1rem;
}
.order .order-main .order-form fieldset.type-order label.pickup {
  background-image: url(../img/form_pickup.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center 80%;
}
.order .order-main .order-form fieldset.type-order label.delivery {
  background-image: url(../img/form_deliver.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center 80%;
}
.order .order-main .order-form fieldset.type-order label:hover {
  color: #7a58b9;
  -webkit-box-shadow: 0 0 10px 0 #7a58b9;
          box-shadow: 0 0 10px 0 #7a58b9;
}
.order .order-main .order-form fieldset.type-order label:hover.pickup {
  background-image: url(../img/form_pickup_on.png);
}
.order .order-main .order-form fieldset.type-order label:hover.delivery {
  background-image: url(../img/form_deliver_on.png);
}
.order .order-main .order-form fieldset.pickup {
  display: none;
}
.order .order-main .order-form fieldset.pickup .time label {
  display: inline-block;
}
.order .order-main .order-form fieldset.payment {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.order .order-main .order-form fieldset.payment legend {
  width: 100%;
}
.order .order-main .order-form fieldset.payment input {
  display: none;
}
.order .order-main .order-form fieldset.payment input:checked + label {
  color: #7a58b9;
  -webkit-box-shadow: 0 0 10px 0 #7a58b9;
          box-shadow: 0 0 10px 0 #7a58b9;
}
.order .order-main .order-form fieldset.payment label {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 30%;
  height: 150px;
  border-radius: 1rem;
  text-transform: uppercase;
  padding-top: 1rem;
  font-weight: 600;
  -webkit-box-shadow: 0 0 5px 0 black;
          box-shadow: 0 0 5px 0 black;
  padding-bottom: 1rem;
}
.order .order-main .order-form fieldset.payment label.cash {
  background-image: url(../img/cash.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center 80%;
}
.order .order-main .order-form fieldset.payment label.card {
  background-image: url(../img/cadr.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center 80%;
}
.order .order-main .order-form fieldset.payment label.card-online {
  background-image: url(../img/payment_cards.png);
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: center 80%;
}
.order .order-main .order-form fieldset.payment label:hover {
  color: #7a58b9;
  -webkit-box-shadow: 0 0 10px 0 #7a58b9;
          box-shadow: 0 0 10px 0 #7a58b9;
}
.order .order-main .order-form fieldset.payment_delivery {
  display: none;
}
.order .order-main .order-form fieldset.payment_delivery input {
  display: none;
}
.order .order-main .order-form fieldset.payment_delivery input:checked + label {
  color: #7a58b9;
  -webkit-box-shadow: 0 0 10px 0 #7a58b9;
          box-shadow: 0 0 10px 0 #7a58b9;
}
.order .order-main .order-form fieldset.payment_delivery label {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 50%;
  height: 150px;
  border-radius: 1rem;
  text-transform: uppercase;
  padding-top: 1rem;
  font-weight: 600;
  -webkit-box-shadow: 0 0 5px 0 black;
          box-shadow: 0 0 5px 0 black;
  padding-bottom: 1rem;
  background-image: url(../img/payment_cards.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 80%;
}
.order .order-main .order-form input[type='submit'] {
  text-transform: uppercase;
  margin-top: 2rem;
  color: white;
  border: 1px solid #7a58b9;
  border-radius: 3rem;
  background-color: #7a58b9;
  font-size: 2rem;
  padding: 1rem 3rem;
}
.order .order-main .order-form input[type='submit']:hover {
  background-color: #a67af8;
  border: 1px solid #a67af8;
}
.order .order-main .order-form input[type='submit']:focus {
  outline: none;
}
.order .order-main .order-form input[type='submit']:disabled {
  color: #ffffff;
  border: 1px solid rgba(122, 88, 185, 0.678);
  background-color: rgba(122, 88, 185, 0.678);
}
input:focus,
option:focus,
textarea:focus,
select:focus {
  outline: none;
}
select,
input[type="date"],
option,
select {
  cursor: pointer;
}
.important {
  color: red;
}
@media (max-width: 575px) {
  .order .order-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .order .order-main .order-info {
    width: 100%;
    padding: 1rem 1rem;
  }
  .order .order-main .order-info table {
    display: none;
  }
  .order .order-main .order-info .final-price {
    margin-top: 0;
    border-bottom: 1px solid #000;
  }
  .order .order-main .order-info .final-price p {
    font-size: 2rem;
  }
  .order .order-main .order-info .delivery-info {
    display: none;
    margin-top: 2rem;
    border: 1px solid #7a58b9;
    padding: 1rem 1rem;
    -webkit-animation-name: fadeRight;
            animation-name: fadeRight;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  .order .order-main .order-info .delivery-info h3 {
    font-size: 2rem;
    color: brown;
    margin-bottom: 2rem;
  }
  .order .order-main .order-info .delivery-info ul li {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .order .order-main .order-info .delivery-info ul li span {
    color: brown;
    font-weight: 600;
  }
  .order .order-main .order-form {
    width: 100%;
    font-size: 1.7rem;
  }
  .order .order-main .order-form fieldset {
    margin-bottom: 2rem;
  }
  .order .order-main .order-form fieldset input,
  .order .order-main .order-form fieldset label {
    display: block;
  }
  .order .order-main .order-form fieldset input {
    width: 100%;
    padding: .5rem .5rem;
    margin-bottom: 1rem;
    border: 1px solid #7a58b9;
    border-radius: .5rem;
  }
  .order .order-main .order-form fieldset input:focus {
    -webkit-box-shadow: 0 0 5px 0 #7a58b9;
            box-shadow: 0 0 5px 0 #7a58b9;
    outline: none;
  }
  .order .order-main .order-form fieldset textarea {
    border: 1px solid #7a58b9;
    border-radius: .5rem;
  }
  .order .order-main .order-form fieldset textarea:focus {
    -webkit-box-shadow: 0 0 5px 0 #7a58b9;
            box-shadow: 0 0 5px 0 #7a58b9;
    outline: none;
  }
  .order .order-main .order-form fieldset legend {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .order .order-main .order-form fieldset select {
    border: 1px solid #7a58b9;
    border-radius: .5rem;
  }
  .order .order-main .order-form fieldset.contacts .flex-wrap {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .order .order-main .order-form fieldset.contacts .flex-wrap .contact-tel {
    width: 45%;
  }
  .order .order-main .order-form fieldset.contacts .flex-wrap .contact-email {
    width: 45%;
  }
  .order .order-main .order-form fieldset.delivery {
    display: none;
  }
  .order .order-main .order-form fieldset.delivery .flex-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .order .order-main .order-form fieldset.delivery .flex-wrap div {
    width: 30%;
    vertical-align: bottom;
  }
  .order .order-main .order-form fieldset.delivery .flex-wrap .comment {
    width: 100%;
  }
  .order .order-main .order-form fieldset.delivery .flex-wrap .comment textarea {
    width: 100%;
    resize: none;
    height: 100px;
    padding: 1rem 1rem;
  }
  .order .order-main .order-form fieldset.delivery .flex-wrap .date {
    width: 100%;
  }
  .order .order-main .order-form fieldset.delivery .flex-wrap .time {
    width: 100%;
  }
  .order .order-main .order-form fieldset.delivery .flex-wrap .time label {
    display: inline-block;
  }
  .order .order-main .order-form fieldset.type-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .order .order-main .order-form fieldset.type-order legend {
    width: 100%;
  }
  .order .order-main .order-form fieldset.type-order input {
    display: none;
    width: 20%;
  }
  .order .order-main .order-form fieldset.type-order input:checked + label {
    color: #7a58b9;
    -webkit-box-shadow: 0 0 10px 0 #7a58b9;
            box-shadow: 0 0 10px 0 #7a58b9;
  }
  .order .order-main .order-form fieldset.type-order input:checked + label.pickup {
    background-image: url(../img/form_pickup_on.png);
  }
  .order .order-main .order-form fieldset.type-order input:checked + label.delivery {
    background-image: url(../img/form_deliver_on.png);
  }
  .order .order-main .order-form fieldset.type-order label {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 45%;
    height: 130px;
    border-radius: 1rem;
    text-transform: uppercase;
    padding-top: 1rem;
    color: #4d4d4d;
    font-weight: 600;
    -webkit-box-shadow: 0 0 5px 0 black;
            box-shadow: 0 0 5px 0 black;
    padding-bottom: 1rem;
  }
  .order .order-main .order-form fieldset.type-order label.pickup {
    background-image: url(../img/form_pickup.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center 80%;
  }
  .order .order-main .order-form fieldset.type-order label.delivery {
    background-image: url(../img/form_deliver.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center 80%;
  }
  .order .order-main .order-form fieldset.type-order label:hover {
    color: #7a58b9;
    -webkit-box-shadow: 0 0 10px 0 #7a58b9;
            box-shadow: 0 0 10px 0 #7a58b9;
  }
  .order .order-main .order-form fieldset.type-order label:hover.pickup {
    background-image: url(../img/form_pickup_on.png);
  }
  .order .order-main .order-form fieldset.type-order label:hover.delivery {
    background-image: url(../img/form_deliver_on.png);
  }
  .order .order-main .order-form fieldset.pickup {
    display: none;
  }
  .order .order-main .order-form fieldset.payment {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .order .order-main .order-form fieldset.payment legend {
    width: 100%;
  }
  .order .order-main .order-form fieldset.payment input {
    display: none;
  }
  .order .order-main .order-form fieldset.payment input:checked + label {
    color: #7a58b9;
    -webkit-box-shadow: 0 0 10px 0 #7a58b9;
            box-shadow: 0 0 10px 0 #7a58b9;
  }
  .order .order-main .order-form fieldset.payment label {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 30%;
    height: 100px;
    border-radius: 1rem;
    text-transform: uppercase;
    padding-top: 1rem;
    font-weight: 600;
    -webkit-box-shadow: 0 0 5px 0 black;
            box-shadow: 0 0 5px 0 black;
    padding-bottom: 1rem;
    font-size: 1.3rem;
  }
  .order .order-main .order-form fieldset.payment label.cash {
    background-image: url(../img/cash.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center 80%;
  }
  .order .order-main .order-form fieldset.payment label.card {
    background-image: url(../img/cadr.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center 80%;
  }
  .order .order-main .order-form fieldset.payment label.card-online {
    background-image: url(../img/payment_cards.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center 80%;
  }
  .order .order-main .order-form fieldset.payment label:hover {
    color: #7a58b9;
    -webkit-box-shadow: 0 0 10px 0 #7a58b9;
            box-shadow: 0 0 10px 0 #7a58b9;
  }
  .order .order-main .order-form fieldset.payment_delivery {
    display: none;
  }
  .order .order-main .order-form fieldset.payment_delivery input {
    display: none;
  }
  .order .order-main .order-form fieldset.payment_delivery input:checked + label {
    color: #7a58b9;
    -webkit-box-shadow: 0 0 10px 0 #7a58b9;
            box-shadow: 0 0 10px 0 #7a58b9;
  }
  .order .order-main .order-form fieldset.payment_delivery label {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 50%;
    height: 150px;
    border-radius: 1rem;
    text-transform: uppercase;
    padding-top: 1rem;
    font-weight: 600;
    -webkit-box-shadow: 0 0 5px 0 black;
            box-shadow: 0 0 5px 0 black;
    padding-bottom: 1rem;
    background-image: url(../img/payment_cards.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 80%;
  }
  .order .order-main .order-form input[type='submit'] {
    text-transform: uppercase;
    margin-top: 2rem;
    color: white;
    border: 1px solid #7a58b9;
    border-radius: 3rem;
    background-color: #7a58b9;
    font-size: 2rem;
    padding: 1rem 3rem;
  }
  .order .order-main .order-form input[type='submit']:hover {
    background-color: #a67af8;
    border: 1px solid #a67af8;
  }
  .order .order-main .order-form input[type='submit']:focus {
    outline: none;
  }
  .order .order-main .order-form input[type='submit']:disabled {
    color: #ffffff;
    border: 1px solid rgba(122, 88, 185, 0.678);
    background-color: rgba(122, 88, 185, 0.678);
  }
}
