.user-order .section-title {
  margin-bottom: 1rem;
}
.user-order .description p {
  font-size: 2rem;
  color: white;
  background-color: rgba(168, 74, 74, 0.808);
  padding: 1rem 1rem;
}
.user-order table {
  border: 1px solid #7a58b9;
  font-size: 2rem;
  width: 100%;
}
.user-order table tr td {
  border: 1px solid #7a58b9;
  padding: .5rem .5rem;
}
.user-order table tr td:first-child {
  width: 30%;
}
.user-order .submit {
  display: flex;
  justify-content: space-between;
}
.user-order .submit a {
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 2rem;
  color: #7a58b9;
  border: 1px solid #7a58b9;
  border-radius: 3rem;
  font-size: 2rem;
  padding: 1rem 3rem;
  display: block;
}
.user-order .submit a:hover {
  background-color: #7a58b9;
  border: 1px solid #7a58b9;
  color: white;
}
.user-order .submit a:focus {
  outline: none;
}
.user-order .submit input[type='submit'] {
  text-transform: uppercase;
  margin-top: 2rem;
  color: white;
  border: 1px solid #7a58b9;
  border-radius: 3rem;
  background-color: #7a58b9;
  font-size: 2rem;
  padding: 1rem 3rem;
  display: block;
}
.user-order .submit input[type='submit']:hover {
  background-color: #a67af8;
  border: 1px solid #a67af8;
}
.user-order .submit input[type='submit']:focus {
  outline: none;
}
.user-order .submit input[type='submit']:disabled {
  color: #ffffff;
  border: 1px solid rgba(122, 88, 185, 0.678);
  background-color: rgba(122, 88, 185, 0.678);
}
.main-page a {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  margin-top: 2rem;
  color: #7a58b9;
  border: 1px solid #7a58b9;
  border-radius: 3rem;
  font-size: 2rem;
  padding: 1rem 1rem;
  width: 25%;
  text-align: center;
}
.main-page a:hover {
  background-color: #7a58b9;
  border: 1px solid #7a58b9;
  color: white;
}
.has-been-paip p {
  font-size: 1.5rem;
  margin-top: 2rem;
}
@media (max-width: 575px) {
  .user-order .section-title {
    margin-bottom: 1rem;
  }
  .user-order .description p {
    font-size: 2rem;
    color: white;
    background-color: rgba(168, 74, 74, 0.808);
    padding: 1rem 1rem;
  }
  .user-order table {
    border: 1px solid #7a58b9;
    font-size: 2rem;
    width: 345px;
  }
  .user-order table tr td {
    border: 1px solid #7a58b9;
    padding: .5rem .5rem;
    white-space: pre-wrap;
  }
  .user-order table tr td:first-child {
    width: 30%;
  }
  .user-order .submit {
    display: block;
  }
  .user-order .submit a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 50%;
    text-transform: uppercase;
    margin-top: 2rem;
    color: #7a58b9;
    border: 1px solid #7a58b9;
    border-radius: 3rem;
    font-size: 2rem;
    padding: 1rem 3rem;
    display: block;
  }
  .user-order .submit a:hover {
    background-color: #7a58b9;
    border: 1px solid #7a58b9;
    color: white;
  }
  .user-order .submit a:focus {
    outline: none;
  }
  .user-order .submit input[type='submit'] {
    text-transform: uppercase;
    margin-top: 2rem;
    color: white;
    border: 1px solid #7a58b9;
    border-radius: 3rem;
    background-color: #7a58b9;
    font-size: 2rem;
    padding: 1rem 3rem;
    display: block;
  }
  .user-order .submit input[type='submit']:hover {
    background-color: #a67af8;
    border: 1px solid #a67af8;
  }
  .user-order .submit input[type='submit']:focus {
    outline: none;
  }
  .user-order .submit input[type='submit']:disabled {
    color: #ffffff;
    border: 1px solid rgba(122, 88, 185, 0.678);
    background-color: rgba(122, 88, 185, 0.678);
  }
  .main-page a {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    margin-top: 2rem;
    color: #7a58b9;
    border: 1px solid #7a58b9;
    border-radius: 3rem;
    font-size: 2rem;
    padding: 1rem 1rem;
    width: 100%;
    text-align: center;
  }
  .main-page a:hover {
    background-color: #7a58b9;
    border: 1px solid #7a58b9;
    color: white;
  }
}
